<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">


    </div>
    <script src="js/vue.min.js"></script>
    <script src="js/vuex.min.js"></script>
    <script src="js/data.js"></script>
    <script>
var local = new Local();
var {mapActions,mapState}  = Vuex

Vue.use(Vuex);
var store=new Vuex.Store({
    state:{arr:[]},
    mutations:{
        getData(state,pyload){
            state.arr = [...pyload.arr];
        },
        del(state,pyload){
           
        }
    },
    actions:{
        getData({commit},pyload){
            var data = local.getData()
            commit("getData",{arr:data});
        },
        del({commit,dispatch},pyload){
            if(!pyload.id) console.log("出错了")
            local.delDate(pyload.id);
            dispatch("getData");
            
        }
    }
})

  console.log(store);
    new Vue({
        el:"#app",
        template:`
        <div>
        <ul>
            <li :key="item.id" v-for="item,index in arr"><input type="checkbox">{{item.price}} <button @click="del({'id':item.id})">删除</button></li>
        </ul>
        <div class="cart-item-list">
                    <div :key="item.id"  
                    v-for="item,index in arr" 
                    class="cart-item" >
                        <div class="p-checkbox ">
                            <input 
                            :data-id="index" 
                            type="checkbox" 
                            name="" 
                            id="" 
                            class="j-checkbox">
                        </div>
                        <div class="p-goods">
                            <div class="p-img">
                                <img src="upload/p3.jpg" alt="">
                            </div>
                            <div class="p-msg">{{item.name}}</div>
                        </div>
                        <div class="p-price">￥{{item.price}}</div>
                        <div class="p-num">
                            <div class="quantity-form">
                                <a href="javascript:;" class="decrement" @click="subCarNum({'id':item.id})">-</a>
                                <input type="text" class="itxt" v-bind:value="item.num">
                                <a href="javascript:;" class="increment" @click="addCarNum({'id':item.id})">+</a>
                            </div>
                        </div>
                        <div class="p-sum">￥ </div>
                        <div class="p-action"><a href="javascript:;" @click="del({'id':item.id})">删除</a></div>
                    </div>
                </div>
        </div>
        `,
        methods: {
            ...mapActions(["getData","del"])
        },
        computed: {
            ...mapState(['arr'])
        },
        store,
        created () {
            this.getData()
        }
    })
    </script>
</body>
</html>